.botonmas, .botonmenos {
    cursor:pointer;
    position:fixed;
    margin: auto 0;
    width:40px;
    height: 40px;
    &__flechas {
        width:40px;
        height: 40px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width:40px;
            height: 40px;
            top:-20px;
        }    
        &::before{
            content: "";
            position: absolute;
            width:40px;
            height: 40px;
            top: -20px;
        }  
    }
}

.botonmas {
    right:1rem;
    &__flechas{
        border: 20px solid transparent;
        border-left: 20px solid $thirdC ;
        &::after {
            border: 20px solid transparent;
            border-left: 20px solid $thirdC ;
            left:-20px;
            animation: arrowMas 2s infinite ease;
        }
        &::before{
            border: 20px solid transparent;
            border-left: 20px solid $thirdC ;
            left:-20px;
            animation: arrowMas 2s infinite ease;
            animation-delay: 1s;
        }
    }
}

.botonmenos {
    left: 1rem;
    &__flechas{
        border: 20px solid transparent;
        border-right: 20px solid $thirdC ;
        &::after {
            border: 20px solid transparent;
            border-right: 20px solid $thirdC ;
            right:-20px;
            animation: arrowMenos 2s infinite ease;
            animation-delay: 1s;
        }
        &::before{
            border: 20px solid transparent;
            border-right: 20px solid $thirdC ;
            right:-20px;
            animation: arrowMenos 2s infinite ease;
        }
    }
}

@keyframes arrowMas {
    0% {
        opacity:1;
    }
    100%{
        opacity: 0;
        transform: translateX(60px);
    }
}

@keyframes arrowMenos {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-60px);
    }
}
