@import './variables';
@import './botones';

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350vh;
    width:100vw;
}

.audioplayer{
    position: fixed;
    bottom: 0;
}